!!!
/[if IE 9] <html class="ie9" lang="en">
<!--[if gt IE 9]><!-->
%html{:lang => "en"}<>
	<!--<![endif]-->

	= Haml::Engine.new(File.read("dev/haml/partials/_doc_head.haml")).render

	%body

		= Haml::Engine.new(File.read("dev/haml/partials/_html_header.haml")).render

		%main{:role => "main"}

			= Haml::Engine.new(File.read("dev/haml/partials/_sec_1-intro.haml")).render
			= Haml::Engine.new(File.read("dev/haml/partials/_sec_2-share.haml")).render
			= Haml::Engine.new(File.read("dev/haml/partials/_sec_3-sync.haml")).render
			= Haml::Engine.new(File.read("dev/haml/partials/_sec_4-shop.haml")).render
			= Haml::Engine.new(File.read("dev/haml/partials/_sec_5-create.haml")).render
			= Haml::Engine.new(File.read("dev/haml/partials/_sec_6-available.haml")).render

		= Haml::Engine.new(File.read("dev/haml/partials/_html_footer.haml")).render